@import "@/styles/base/_variables.scss";

.search-bar {
    height: 2em;

    #back {
        background: white;
        height: 2.3em;
        position: relative;
        width: 67%;
        top: 2.5em;
        display: inline-block;
    }

    .block {
        height: 100%;
        display: block;
        width: 100%;
    }

    &__form {
        height: 100%;
        position: relative;

        input {
            height: 100%;
            width: 67%;
            border: none;
            text-indent: 1em;
            font-size: 1em;
            text-transform: lowercase;
        }

        button {
            background-color: $color-secondary;
            display: inline-block;
            height: 106%;
            width: 3em;
            position: absolute;
            border: none;
            padding: 2px;
        }
    }
}