body {
    @extend %smooth-text;
    font-family: $font-family-retro;
    font-size: $font-size;
}

h1, h3, p, span {
    @extend %text-elem-padding;
}

h1 {
    font-size:  $title-size;
}

h3 {
    font-size: $subtitle-size;
}